$whiteHeaderBoxShandow: rgba(0,0,0,0.06);
$whiteLogo: '/static/specials/images/new_plugin_white_logo.png';
$menuSpanFontColor: rgba(33,39,53,1);
$ButtonBg: #F18E2D;
$buttomHoverBg: #f8b62d;;
$menuLoginAndRegFontColor: white;
$whiteBgColor: white;

// service
$whiteServiceBg: '/static/specials/images/new_plugin_white_service_bg.png';
// 五天无理由退货
$whiteService5: '/static/specials/images/new_plugin_white_icon_footer_service_5.png';
// 24小时技术支持
$whiteService24: '/static/specials/images/new_plugin_white_icon_footer_service_24.png';
//7 * 12客服团队支持
$whiteService7: '/static/specials/images/new_plugin_white_icon_footer_service_7x12.png';

// footer
$footerBg: rgba(245,246,248,1);
$aLinkColor: rgba(110,116,130,1);
$footerLogo: '/static/specials/images/new_plugin_white_footer_logo.png';
$weixin: '/static/specials/images/new_plugin_white_icon_wechat.png';
$weibo: '/static/specials/images/new_plugin_white_icon_weibo.png';

// qrcode
$weixinQrCode: '/static/specials/images/new_plugin_white_share_weixin.png';
$weiboQrCode: '/static/specials/images/new_plugin_white_share_weibo.png';
$weiboLjbQrCode: '/static/specials/images/new_plugin_white_share_weibo_ljb.png';

// login-modal
$whiteLoginModalLogo: '/static/specials/images/new_plugin_white_login_logo.png';
$whiteLoginModalClose: '/static/specials/images/new_plugin_white_modal_close.png';
$whiteLoginModalBtnBg: #F18E2D;
$whiteLoginModalBtnHoverBg: #f8b62d;
$whiteLoginModalInputColor: #202020;
$whiteLoginTipColor: #8389A1;
$whiteLoginMoDalRegColor: #FC7400;

// 登录后的用户样式
$whiteUserAvatar: '/static/specials/images/new_plugin_white_avatar_default.png';