// header
$darkHeaderBg: rgba(33,39,53,.98);
$darkHeaderBorderColor:rgba(62,69,95,1);
$darkLogo: '/static/specials/images/new_plugin_dark_logo.png';
$darkMenuSpanFontColor: white;

// service
$darkServiceBg: rgba(41,48,65,1);
$darkServiceFontColor: white;

// footer
$darkFooterBg: rgba(49,57,76,1);
$darkFooterLogo: '/static/specials/images/new_plugin_dark_footer_logo.png';
$darkFooterFontColor: white;
$darkFooterALinkColor: rgba(110,116,130,1);
$darkfFooterLineBg:rgba(62,69,95,1);
$darkFooterWeiboLogo: '/static/specials/images/new_plugin_dark_icon_weibo.png';

// 用户登录成功后背景
$darkLoginedUserMenu :#293041;
