// 格式化
@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

// 转换rem
@function rem($value, $scale: 192px) {
  $root: $scale;
  $val: parseInt($value);
  $return: ();
  @if unit($value) == 'px' {
    $return: append($return, ($value / $root * 1rem));
  } @else {
    $return: append($return, ($value * $root * 1px));
  }
  @return $return;
}

// 移动端转换rem
@function remb($value, $scale: 75px) {
  $root: $scale;
  $val: parseInt($value);
  $return: ();
  @if unit($value) == 'px' {
    $return: append($return, ($value / $root * 1rem));
  } @else {
    $return: append($return, ($value * $root * 1px));
  }
  @return $return;
}


@function remb703($value, $scale: 70.3px) {
  $root: $scale;
  $val: parseInt($value);
  $return: ();
  @if unit($value) == 'px' {
    $return: append($return, ($value / $root * 1rem));
  } @else {
    $return: append($return, ($value * $root * 1px));
  }
  @return $return;
}